.about{
    color: black;
}

.main{
    font-size: 70px;
    color: aqua;
}
.abhi{
    color: blueviolet;
    font-size: 55px;
    margin-top: -25px;
}
.pre{
    font-size: 25px;
}
.interest{
    color: blue;
    
}
.achivement{
    color: blue;
    
}
.project{
    font-size: 25px;
    color: rgb(0,0,255);
}
.pre2{
    font-size: 25px;
    margin-top: -20px;
    color: black;
}
.contact{
    font-size: 25px;
    color: rgb(0,0,255);
}
.mail{
    font-size: 25px;
    color: rgb(0,0,255);
}
.copy{
    font-size: 25px;
    
}